@font-face {
  font-family: 'picto';
  src: url('../font/picto.eot?88696497');
  src: url('../font/picto.eot?88696497#iefix') format('embedded-opentype'),
  url('../font/picto.woff2?88696497') format('woff2'),
  url('../font/picto.woff?88696497') format('woff'),
  url('../font/picto.ttf?88696497') format('truetype'),
  url('../font/picto.svg?88696497#picto') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "picto", sans-serif;
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #E1D9D2;
}