input {
    width: 40%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid black;
    padding-left: 10px;
    color: #e0e0e0;
    font-size: 14px;
    background-color: #404040;
    margin-right: 5px;
    margin-bottom: 15px;
    scroll-margin-top: 250px ;
}

input::placeholder {
    font-size: 14px;
    color: #e0e0e0;
}