#Lignes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Ligne {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background: linear-gradient(90deg, #f6b669, #f3c186);
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 5px 0;
}

.nb {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(-90deg, #f6b669, #f3c186);
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
    border-radius: 10px;
    padding: 0 5px;
    width: 15%;
}

.btnNBUp, .btnNBDown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    font-size: 16px;
    border-radius: 10px;
    margin: 0 5px;
}

.btnNBUp, .btnNBDown:hover {
    background: linear-gradient(#efe9e6, #8f7d5e);
}

.btnNBDown, .btnNBUp:hover {
    background: linear-gradient(#8f7d5e, #efe9e6);
}