.navigation ul {
    list-style: none;
    margin: 0;
    padding: 20px 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav{
    color: #0066ff;
    text-decoration: none;
}


.nav-active {
    color: #0066ff;
    font-weight: bold;
}

#social ul {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 0;
    padding-inline-start: 0;
    gap: 0;
}

#social a::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-family: 'picto', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    color: #000;
    font-size: 20px;
    margin-bottom: 5px;
    background: linear-gradient(150grad, #efe9e6, #8f7d5e);
}

#social li:first-of-type a::before {
    content: '\e801';
}

#social li:last-of-type a::before {
    content: '\e802';
}

#social li:first-of-type a:hover::before {
    color: #000;
}

#social li:last-of-type a:hover::before {
    color: #000;
}

@media screen and (max-width: 768px) {
    .column {
        flex-direction: column;
        justify-content: normal;
    }

    .navConnexion {
        width: 100%;
    }

    .navConnexion ul {
        width: 100%;
        padding: 0 20px;
    }

    .NavBase {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}