.PanierResp {
    display: flex;
}

.PanierPanier {
    width: 60%;
    min-height: 90vh;
    box-sizing: border-box;
    border: 1px solid black;
}

.HistoriquePanier {
    width: 40%;
    min-height: 90vh;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
}

.detailsPrix, .Prix {
    font-size: 14px;
    background: lightgrey;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px;
}

.btnP {
    height: 40px;
    background: linear-gradient(90deg, #f6b669, #f3c186);
}

.btnP:hover {
    background: linear-gradient(-90deg, #f6b669, #f3c186);
}

@media screen and (max-width: 769px) {
    .PanierResp {
        flex-direction: column;
    }

    .PanierPanier {
        width: 100%;
        min-height: fit-content;
        border: 0;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }

    .HistoriquePanier {
        width: 100%;
        min-height: fit-content;
        border: 0;
    }
}